/* style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Trebuchet MS, Verdana, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}

body {
    height: 100%;
}

.menu-vertical {
    z-index: 10000;
}

.btn-nav-menu {
    background-color: unset;
    border: unset;
    font-weight: unset;
}

nav .tab {
    top: 0.06rem;
}