{% include 'frontmatter.html' %}

<html lang="en" class="min-h-full" data-theme="dark">
<div class="h-full w-full justify-center">
    {% include 'nav.html' %}
    <main class="lg:mx-96 py-20 mx-16 flex flex-col relative h-auto w-auto items-center">
        <article class="flex flex-col lg:gap-8 gap-12">
            <h1 class="lg:text-7xl text-8xl text-center">About Us</h1>
            <p class="lg:text-2xl text-5xl leading-snug">
                London Trans⁺ Pride (LTP) is a grassroots trans-led community organisation,
                operating as a collective of
                volunteers for and with the trans⁺ community in the UK. We are responsible for organising the annual
                London Trans⁺ Pride march since 2018. Our most recent march in 2023 gathered more than 35,000 people
                marching in support of trans⁺, non-binary, gender non-conforming and intersex lives and made LTP the
                largest trans-focused annual gathering in the UK. At its core, the London Trans⁺ Pride march is a
                protest. We are calling for equity via positive legislative change and radical improvement to our
                education and public healthcare system to recognise and support the needs of trans⁺ people as much as
                those of anyone else living in the UK.</p>
            <p class="lg:text-2xl text-5xl leading-snug">
                Since 2018, we have also hosted trans-inclusion workshops for some of our corporate donors. In light of
                the limited, exclusionary and often negative framing of trans⁺ lives in UK mainstream media, we attempt
                to provide a platform for trans⁺ voices to be heard and seen as much as possible. Besides our march,
                some
                of the ways we have achieved this so far have been through our combined social media reach of over
                50,000 people, which we use to amplify different trans⁺ collectives, organisations and individuals;
                community-led research projects as a means of gathering our own data; and using existing platforms, such
                as Glastonbury Festival where we have an annual space, to host workshops, talk to members of the public
                and celebrate some of the best trans⁺ performers and creatives from London's nightlife scene.
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                In 2022 we were honoured to receive the Gay Times Future Fighter Award, which we accepted on behalf of
                the wider trans⁺ community. We see this award as a reminder that our LGBTQ⁺ community cannot be divided
                despite growing attempts from so called 'gender-critical' organisations here in the UK.
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                Leading up to our fifth year as LTP organisers, we want to use this momentum to expand the scope of our
                work in our attempts to counter the rising hostility towards trans⁺ people in the UK today. We plan to
                do this through further developing our anti-oppression and trans-inclusive training programme, enhancing
                our community infrastructure provisions, amplifying our campaigning and research capabilities, as well
                as collaborating with partners around strategic litigation.
            </p>
            <hr>
            <h2 class="lg:text-5xl text-6xl">Our mission</h2>
            <p class="lg:text-2xl text-5xl leading-snug">
                Drawing inspiration from pride's origins as an intersectional protest against violence and erasure, as
                well as contemporary movements (Queer Picnic, UK Black Pride, Trans⁺ Pride Brighton) LTP exists to serve
                many goals, all grounded in our core mission:
            </p>
            <blockquote class="lg:text-2xl text-5xl leading-snug p-6 rounded-3xl text-neutral bg-primary">
                To grow a community-facing, grassroots pride celebration and protest organised by and for trans⁺,
                non-binary, gender non-conforming and intersex people, as a means of highlighting our needs, struggles,
                successes, and experiences in a social and political climate where trans⁺ voices often go unheard.
            </blockquote>
            <p class="lg:text-2xl text-5xl leading-snug">
                The world we work towards is defined by deep social equity and fairness. It is a world where no-one has
                to fight for their basic rights, as we and so many others are doing today; where the unique healthcare
                needs of our community are well-provided for by the public healthcare system; where it is not the
                responsibility of trans⁺ people to repeatedly educate others about our needs and histories; where we can
                live as our truest selves without being at risk of discrimination and violence; where we can go to work
                and don't have to perform an idea of gender that does not align with our own; where the protection of
                our rights is guaranteed.
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                All our work is aimed at supporting the transition to a society that is equitable and just for all. Our
                specific role in this transition is to speak and work for the unique needs of trans⁺ people living in
                the UK. We seek to collaborate and engage with fellow community groups, wider organisations, trans⁺
                community members, as well as allies in order to work towards this shared goal. We recognise our unique
                position as a trans-led and trans-centred community organisation that is based in London, which is home
                to core governmental, legal and financial institutions. It is our intention to use this position to
                leverage for positive change and bring together the efforts and voices of trans⁺ organisations and
                individuals across the UK.
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                Looking ahead to the distant future of our organisation, we hope that there will no longer be a need for
                London Trans⁺ Pride to exist in its current form as a catalyst for protest and systemic change, but
                rather that it will be able to exist as a commemorative celebration of our hard-won rights.
            </p>
            <hr>
            <h2 class="lg:text-5xl text-6xl">How we work</h2>
            <p class="lg:text-2xl text-5xl leading-snug">
                Over the past five years our core group has shifted and grown to a team of 12+ volunteers. Our core team
                is entirely trans⁺, working on a volunteering basis from home, meeting 1-2 times per week in person or
                over Zoom. We each take initiative and responsibility for one key area (community, liaison, events,
                press, marketing & comms, finance) which we work on collectively with any other team member that is
                available and keen to help out. We collectively share responsibilities for organisational development
                and strategy.
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                Our governance structure is based on sociocracy (consent of all), while more day-to-day operational
                decisions in need of quick progress are decided democratically (majority vote).
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                Any donations and crowdsourced funding thus far have exclusively been used to cover operational expenses
                (excl. staff hours), march organisation and delivery. Exemplary expenses are: speaker fees, producing
                graphic and campaign material, water supply for the march, hiring AV equipment for the march,
                transportation of equipment and venue hire.
            </p>
        </article>
    </main>
</div>
{% include 'footer.html' %}
</html>