{% include 'frontmatter.html' %}
<html lang="en" class="min-h-full" data-theme="dark">
<div class="h-full w-full justify-center">
    {% include 'nav.html' %}
    <div class="h-[85vh] w-full justify-center flex flex-col">
        <main class="h-full lg:mx-auto mx-16 flex flex-col w-auto justify-center">
            <ul class="space-y-12 lg:flex lg:flex-col items-center">
                <li>
                    <a class="btn btn-primary lg:w-80 h-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 lg:pl-0 pl-52 grid grid-cols-2 lg:grid-cols-1 lg:justify-items-center justify-items-start"
                        href="https://docs.google.com/forms/d/1D8dlobGsZQZKPVWftQ7re_Buv45Z2AEajtPsephUlHY/edit">Google form<span class="aria-hidden lg:hidden text-7xl">📝</span></a>
                </li>
                <li>
                    <a class="btn btn-primary lg:w-80 h-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 lg:pl-0 pl-52 grid grid-cols-2 lg:grid-cols-1 lg:justify-items-center justify-items-start"
                        href="mailto:info@londontranspride.org">General enquiries<span class="aria-hidden lg:hidden text-7xl">📧</span></a>
                </li>
                <li>
                    <a class="btn btn-primary lg:w-80 h-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 lg:pl-0 pl-52 grid grid-cols-2 lg:grid-cols-1 lg:justify-items-center justify-items-start"
                        href="mailto:press@londontranspride.org">Press enquiries<span class="aria-hidden lg:hidden text-7xl">📧</span></a>
                </li>
                <li>
                    <a class="btn btn-primary lg:w-80 h-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 lg:pl-0 pl-52 grid grid-cols-2 lg:grid-cols-1 lg:justify-items-center justify-items-start"
                        href="mailto:access@londontranspride.org">Access enquiries<span class="aria-hidden lg:hidden text-7xl">📧</span></a>
                </li>
            </ul>
        </main>
    </div>
</div>
{% include 'footer.html' %}
</html>