{% include 'frontmatter.html' %}
<html lang="en" class="min-h-full" data-theme="dark">
<div class="h-full w-full justify-center">
    {% include 'nav.html' %}
    <div class="lg:mx-96 py-20 mx-16 flex flex-col relative h-auto w-auto items-center">
        <article class="flex flex-col lg:gap-8 gap-12">
            <h1 class="lg:text-7xl text-8xl text-center">FAQ</h1>
            <ul class="flex flex-col gap-10">
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        How long will the event take?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        LT+P 2024 will run for about 5-6 hours in total!

                        We'll be gathering around Trafalgar Square from <b>1:00pm on Saturday 27th July 2024</b>. The
                        march
                        will depart around <b>2:00pm</b> from the south-east corner of the square, and end in the green
                        around
                        Wellington Arch (Apsley Way) around <b>4pm</b>. Speeches from community members and
                        organisations will
                        take place from <b>4:00pm - 5:30pm</b>.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        Attendees are welcome to join or leave at any point throughout the day!
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        Is London Trans+ Pride a free event? Do I need a ticket?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        London Trans+ Pride is a free event! The first half of the event is a protest march through the
                        streets of central London; the second static half will consist of speeches from community
                        members and organisations in a public space (Wellington Arch green).
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        Is the event accessible?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        We know that there can be no Trans+ Pride anywhere without Disabled Trans+ Pride. We're
                        continually working on making London Trans+ Pride more and more accessible every year. This is
                        work that we are committed to in the long term, and it will never be “done”. Information on
                        accessibility for the day can be found <a class="text-primary" href="../ltp2024/#accessibility:~:text=harassment%20or%20abuse.-,Accessibility,-We%20will%20continue">here</a>.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        Is there an age limit or minimum on who can attend?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        There is no age limit on who London Trans+ Pride is for - everyone is welcome to join! As with
                        any protest, we highly encourage anyone of any age planning to attend to do so in groups for
                        their general protection, but if you're 18 or under, we can't stress enough how important it is
                        that you DON'T come alone.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        I'm not trans, nonbinary, intersex or GNC - can I still take part?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        YES! Allies are welcome - we need your presence. Definitely attend, but we'd ask you to do so
                        with sensitivity. Be aware that this is a protest centering the fight for Trans+ rights, be
                        cautious of the space you take up and be mindful of the way you interact with other people.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        If you'd like to donate your time and get more directly involved as an ally, you can sign up to
                        be a volunteer steward <a class="text-primary" href="../stewarding">here</a>!
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        Can I have a stall at the event?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        London Trans+ Pride's current format doesn't allow for us to offer space for any stalls.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        I'm a part of a community group / corporation / political party...can we have a spot in the
                        march?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        If you're a part of a community group and your organisation is keen to show support at LT+P
                        2024, you're more than welcome to have a presence at the march! We only ask that you get in
                        touch to clear it with us! Please reach out to us via our <a class="text-primary"
                            href="https://docs.google.com/forms/d/1D8dlobGsZQZKPVWftQ7re_Buv45Z2AEajtPsephUlHY/">Google
                            Form</a> to do
                        so, or to contact us with questions about banners, blocs, or other group logistics.

                        We <b>DO NOT</b> welcome any corporate groups or political parties with a branded presence.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        I've noticed there's a significant SWP presence at your past events (flyers, booths, etc.)... Do
                        you work with them?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        <b>No.</b> We have continually asked SWP to not attend our events and are reiterating to them
                        this year
                        to make it clear that we have zero interest in any SWP presence at this year's event. <b>Don't
                            take
                            their flyers or signs</b>, they have nothing to do with us.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        Will there be bathrooms/food/water?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        There will be two accessible toilets at Wellington Arch that will be prioritised for those who
                        need them. For all other attendees, locations of nearby toilets will be posted in advance, as
                        well as listed on a map.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        We're also currently working on a list of friendly businesses along the march route that will
                        have toilets (accessible and otherwise) available for attendees to use. This list will be posted
                        in our Signal access group, as well as on the LT+P 2024 info page <a class="text-primary" href="../ltp2024">here</a>.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        There will be a hydration station and small snack stall at Wellington Arch, but we <b>HIGHLY</b>
                        recommend bringing food with you or picking something up along the way at one of the many places
                        available before we reach Wellington Arch.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        How can I get involved with London Trans+ Pride?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        If you're able to, we appreciate any and all donations, which can be made <a
                            class="text-primary" href="https://www.gofundme.com/f/london-trans-pride-2024">here</a>.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        If you're interested in volunteering your time on the day of the march, you can sign up to be a
                        steward, first aider, or Legal Observer <a class="text-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSePbCHKaFf7JUU-axiAH6SraEes9cKLAvNJEqLBbdpM9ytZTw/closedform">here</a>.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        Am I allowed to film/take photos?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        You are welcome to take photos and videos for personal use, but always make sure that people
                        around you are comfortable with being on camera.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        If you would like to shoot professional footage, you'll need to reach out to us at
                        <a class="text-primary" href="mailto:press@londontranspride.com">press@londontranspride.com</a>
                        for approval.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        Journalists/photographers/videographers who are being disruptive or invasive to attendees or
                        volunteers may be asked to leave and/or reported to security and stewards for creating a
                        disturbance.
                    </p>
                </li>
                <hr>
                <li class="flex flex-col gap-6">
                    <h2 class="text-7xl lg:text-4xl">
                        Will there be police presence?
                    </h2>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        Due to the sheer size of the event (20,000 - 30,000+) and its highly visible, highly public
                        nature, there will be some police presence on the day. This is purely for crowd safety purposes.
                        Their role is largely to manage crowd flow and road closures, as well as ensure that there are
                        no collisions or planned interceptions/attacks by counter-protestors.
                    </p>
                    <p class="lg:text-2xl text-5xl leading-snug">
                        We're very aware of the majority of our community's feelings on police at pride, and this
                        decision is not one we make lightly. Ultimately, the safety of our attendees and our community
                        is our number one priority. Our relatively small teams of volunteers and crew simply would not
                        be able to facilitate these logistics as effectively by ourselves due to the human-power and
                        access to resources required. That said, LT+P has no greater relationship than this working one
                        with the police, and has no interest in otherwise justifying their presence at a pride event. We
                        don't expect that attendees will have to worry about things like kettling, but it always pays to
                        be cautious.
                    </p>
                </li>
            </ul>
        </article>
    </div>
</div>
{% include 'footer.html' %}

</html>