<!doctype html>

<head>
    <link href="{{ '/style.css' | url }}" rel="stylesheet" />
</head>
<html lang="en" class="min-h-full" data-theme="dark">
<title>London Trans⁺ Pride 2024</title>
<div class="h-full w-full justify-center">
    {% include 'nav.html' %}
    <div class="lg:mx-96 py-20 mx-16 flex flex-col relative h-auto w-auto items-center">
        <article class="flex flex-col lg:gap-8 gap-12">
            <p class="lg:text-2xl text-5xl leading-snug">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minus a, vel ab earum inventore dolores
                voluptatem necessitatibus, natus pariatur enim nemo repudiandae odit optio asperiores, odio vero
                voluptatibus voluptate.
            </p>
        </article>
    </div>
</div>
{% include 'footer.html' %}
</html>