{% include 'frontmatter.html' %}
<html lang="en" class="min-h-full" data-theme="dark">
  <body>
    <main class="h-full w-full flex flex-col items-center justify-center">
      {% include 'nav.html' %}
      <main
        class="lg:mx-96 py-10 sm:py-20 mx-2 sm:mx-8 md:mx-16 flex flex-col relative h-auto w-auto items-center"
        id="main-content"
        tabindex="-1"
      >
        <h1
          class="collapse-title lg:text-7xl text-5xl sm:text-8xl text-center font-bold mb-8"
        >
          London Trans+ Pride 2025
        </h1>
        <div class="flex flex-col lg:gap-8 gap-6 sm:gap-12">
        <p class="lg:text-2xl text-5xl leading-snug">
          London Trans+ Pride 2025 will take place on
          <span class="font-semibold text-header">Saturday 26th July 2025</span> from
          <span class="font-semibold text-header">1:00 pm - 6:45 pm (BST)</span>.
        </p>
        {% include 'tilde-break.html' %}
        <p class="lg:text-2xl text-5xl leading-snug">
          The event will consist of our annual march through the streets of
          Central London, and a static gathering.
        </p>
        <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mt-8 mb-2">When & Where</h2>
        <p class="lg:text-2xl text-5xl leading-snug">
          The march will begin gathering and forming up from
          <span class="font-semibold">1:00pm (13:00 BST) on Langham
          Place/the A4201 (southbound)</span>, in the main road near the BBC building
          and All Souls Church.
        </p>
        <p class="lg:text-2xl text-5xl leading-snug">
          It will depart at roughly
          <span class="font-semibold">2:00pm (14:00 BST)</span> making its way
          down Regent Street and through Piccadilly Circus before turning onto
          Haymarket, passing Trafalgar Square via Cockspur Street, and finally
          proceeding onto Whitehall.
        </p>
        <p class="lg:text-2xl text-5xl leading-snug">
          Along the route will be 3 scheduled stops of 10 minutes each.
        </p>
        {% include 'tilde-break.html' %}
        <p class="lg:text-2xl text-5xl leading-snug">
          The march will terminate at Parliament Square Gardens at which point
          attendees can choose to stay in the square to hear speeches and public
          addresses from prominent members of our trans+ community; or make
          their way around the corner to St. James's Park for picnicking &
          socializing, or to find the chill area.
        </p>
        <p class="lg:text-2xl text-5xl leading-snug">
          Attendees who are not participating in the march portion of the day
          (including those less able to stand or walk for long periods) can
          instead make their way directly to Parliament Square Gardens from
          2:00pm.
        </p>
        {% include 'hr-break.html' %}
        <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mt-8 mb-2">Running Order</h2>
        <ul class="list-disc list-inside lg:text-2xl text-5xl leading-snug">
            <li><span class="font-semibold">13.00:</span> Arrivals; march begins gathering @ Langham Place</li>
            <li><span class="font-semibold">14.00:</span> March departs, proceeding south down Regent Street</li>
            <li><span class="font-semibold">14.30:</span> Scheduled Stop #1 - Lower Regent St/Piccadilly Circus (10 mins)</li>
            <li><span class="font-semibold">15.20:</span> Scheduled Stop #2 - Cockspur St/Trafalgar Square (10 mins)</li>
            <li><span class="font-semibold">16.10:</span> Scheduled Stop #3 - Whitehall (10 mins)</li>
            <li><span class="font-semibold">16.30:</span> March arrives @ Parliament Square Gardens</li>
            <li><span class="font-semibold">16.45:</span> Community speeches and celebrations</li>
            <li><span class="font-semibold">18.15:</span> Speeches conclude</li>
            <li><span class="font-semibold">18.45:</span> London Trans+ Pride 2025 officially concludes; departures & cleanup begin.</li>
        </ul>
        <p class="lg:text-2xl text-5xl leading-snug text-header">
            * Times are approximate. Expect slight delays or variations to the schedule.
        </p>
        {% include 'hr-break.html' %}
        <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mt-8 mb-2">Route</h2>
        <p class="lg:text-2xl text-5xl leading-snug">
            Follow the links below for full-sized downloadable maps of the London Trans+ Pride 2025 march route, starting point, as well as directions to nearby quiet spaces along the route.
        </p>    
        <p class="lg:text-2xl text-5xl leading-snug">
            Maps and route info will also be posted to our <a href="https://www.instagram.com/londontranspride/" class="text-primary"></a>Instagram</a>.
        </p>
        <img class="lg:w-1/2 lg:mx-auto" src="../img/route1.png" alt="Map showing a march route through central London starting at Langham Place and ending at Parliament Square. The route is marked with a pink dotted line and includes scheduled stops at Piccadilly Circus, Trafalgar Square, and Whitehall, indicated with blue map pins numbered 1 to 3. Quiet areas are marked with black map pins at Golden Square and Crypt Cafe. The route passes through St. James's Park, labeled for community socialising, and ends at Parliament Square for speeches. A blue label at the bottom left corner says 'Route'.">
        </div>
      </main>
    {% include 'footer.html' %}
  </body>
</html>
