{% include 'frontmatter.html' %}

<html lang="en" class="min-h-full" data-theme="dark">
<div class="h-full w-full justify-center">
    {% include 'nav.html' %}
    <main class="lg:mx-96 py-20 mx-16 flex flex-col relative h-auto w-auto items-center">
        <article class="flex flex-col lg:gap-8 gap-12">
            <h1 class="lg:text-7xl text-8xl text-center">Our Mission</h1>
            <p class="lg:text-2xl text-5xl leading-snug">
                Drawing inspiration from pride's origins as an intersectional protest against violence and erasure, as
                well as contemporary movements (Queer Picnic, UK Black Pride, Trans+ Pride Brighton) LTP exists to serve
                many goals, all grounded in our core mission:
            </p>
            <blockquote class="lg:text-2xl text-5xl leading-snug p-6 rounded-3xl text-neutral bg-primary">
                To grow a community-facing, grassroots pride celebration and protest organised by and for trans+,
                non-binary, gender non-conforming and intersex people, as a means of highlighting our needs, struggles,
                successes, and experiences in a social and political climate where trans+ voices often go unheard.
            </blockquote>
            <p class="lg:text-2xl text-5xl leading-snug">
                The world we work towards is defined by deep social equity and fairness. It is a world where no-one has
                to fight for their basic rights, as we and so many others are doing today; where the unique healthcare
                needs of our community are well-provided for by the public healthcare system; where it is not the
                responsibility of trans+ people to repeatedly educate others about our needs and histories; where we can
                live as our truest selves without being at risk of discrimination and violence; where we can go to work
                and don't have to perform an idea of gender that does not align with our own; where the protection of
                our rights is guaranteed.
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                All our work is aimed at supporting the transition to a society that is equitable and just for all. Our
                specific role in this transition is to speak and work for the unique needs of trans+ people living in
                the UK. We seek to collaborate and engage with fellow community groups, wider organisations, trans+
                community members, as well as allies in order to work towards this shared goal. We recognise our unique
                position as a trans-led and trans-centred community organisation that is based in London, which is home
                to core governmental, legal and financial institutions. It is our intention to use this position to
                leverage for positive change and bring together the efforts and voices of trans+ organisations and
                individuals across the UK.
            </p>
            <p class="lg:text-2xl text-5xl leading-snug">
                Looking ahead to the distant future of our organisation, we hope that there will no longer be a need for
                London Trans+ Pride to exist in its current form as a catalyst for protest and systemic change, but
                rather that it will be able to exist as a commemorative celebration of our hard-won rights.
            </p>
        </article>
    </main>
</div>
{% include 'footer.html' %}
</html>