{% include 'frontmatter.html' %}
<html lang="en" class="min-h-96" data-theme="dark">
<body>
<a id="main-content" tabindex="-1"></a>
{% include 'nav.html' %}
<div class="h-[80vh] w-full justify-center flex flex-col">
    <main class="h-full lg:mx-auto mx-2 sm:mx-8 md:mx-16 flex flex-col w-auto justify-center" id="main-content" tabindex="-1">
        <ul class="space-y-6 sm:space-y-12 lg:flex lg:flex-col items-center">
            <li>
                <a class="btn btn-primary lg:w-80 h-auto w-full lg:text-2xl text-xl sm:text-2xl md:text-4xl lg:py-4 py-6 sm:py-12 flex-col focus:outline-dashed focus:outline-2 focus:outline-offset-2 focus:outline-primary"
                    href="https://docs.google.com/document/d/1oBkzMZIJHL_0NvjLbY3AhNNhEab0qDvX1zDoLLmACLE/edit">Supporting Palestine</a>
            </li>
            <li>
                <a class="btn btn-primary lg:w-80 h-auto w-full lg:text-2xl text-xl sm:text-2xl md:text-4xl lg:py-4 py-6 sm:py-12 flex-col focus:outline-dashed focus:outline-2 focus:outline-offset-2 focus:outline-primary"
                    href="https://www.crowdfunder.co.uk/p/free-sarah-jane-baker">Sarah Jane Baker's Crowdfunder</a>
            </li>
            <li>
                <a class="btn btn-primary lg:w-80 h-auto w-full lg:text-2xl text-xl sm:text-2xl md:text-4xl lg:py-4 py-6 sm:py-12 flex-col focus:outline-dashed focus:outline-2 focus:outline-offset-2 focus:outline-primary"
                    href="https://docs.google.com/document/d/1FYp1iG5QAKw4qu4T32fnjclvirQsZAHDP9B7yNjLZxA/edit?tab=t.0# target=_blank">Making activism accessible</a>
            </li>
        </ul>
    </main>
</div>
{% include 'footer.html' %}
</body>
</html>
